<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>milktoast techBlog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="backone">
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <button class="no-button" style="padding: 2px;" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        <a href="/login">Logout</a>
        {{/if}}


      <br>
      </nav>

      <h1>
        <a href="/" id="blogheader">milktoast techBlog</a>
      </h1>
    </header>
    <main>

      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
