nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    border: solid 2px;
    padding: 4px;
    margin-bottom: auto;
    margin-top: 10px;
    background-color: honeydew;
}

.head {
    color: white;
    background-color: darkslategrey;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    font-family: sans-serif;
}

a {
    color: deepskyblue;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }

  .new-post {
      background-color: red;
      padding: 10px;
  }