header {
    background-color: black;
    padding-bottom: 16px;
    padding-left: 32px;
} 

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    padding: 8px;
}

main {
    padding: 32px;
}

.backone {
    background: radial-gradient(green, transparent);
}

.box {
    border: solid 2px;
    padding: 4px;
    margin-bottom: auto;
    margin-top: 10px;
    background-color: honeydew;
}

.head {
    color: white;
    background-color: darkslategrey;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    font-family: sans-serif;
}

a {
    color: deepskyblue;
    padding: 8px;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}
  
.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.new-post {
    background-color: rgb(193, 44, 18);
    padding: 10px;
    font-weight: bold;
}

#blogheader {
    background-color: rgb(253, 253, 253);
    border-radius: 4px;
    box-shadow: 4px 2px 2px crimson;
    padding: 4px;
}

#signupaccount {
    background: black;
    padding: 4px;
    border-radius: 16px;
    box-shadow: 4px 4px 0px crimson;
}
